.projects {
  min-height: 100vh;
   background: radial-gradient(circle at bottom right, #1e293b, #020617);
  padding: 60px 40px;
  color: white;
}
.project-container{
  max-width: 70rem;
  height: 30rem;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  margin: auto;
  margin-top: 5rem;
}
.projects h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #38bdf8, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}
.project-card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 30px;
  border: 1px solid rgba(56, 189, 248, 0.3);
  transition: 0.3s ease;
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 15px;
  color: #cbd5f5;
  line-height: 1.6;
  margin-bottom: 20px;
}
.project-buttons {
  display: flex;
  gap: 12px;
}
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(56, 189, 248, 0.4);
}
@media (max-width: 768px) {
  .projects {
    padding: 40px 20px;
  }

  .project-buttons {
    justify-content: center;
  }
}