.skills {
  min-height: 100vh;
   background: radial-gradient(circle at top left, #1e293b, #020617);
  padding: 60px 40px;
  color: white;
}
.about-Skills {
    margin: auto;
  max-width: 70rem;
  height: 30rem;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  margin-top: 5rem;
}

.skills h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #38bdf8, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
}
.skill-card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  border-radius: 18px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(56, 189, 248, 0.3);
  transition: 0.3s ease;
}

.skill-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.skill-card p {
  font-size: 14px;
  color: #cbd5f5;
}
.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(56, 189, 248, 0.4);
}
@media (max-width: 768px) {
  .skills {
    padding: 40px 20px;
  }
}