.contact {
  min-height: 100vh;
  background:#18181b;
  padding: 60px 40px;
  color: white;
}

.contact h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  background:lightpink;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-container {
 max-width: 70rem;
  height: 30rem;
  margin: auto;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  margin-top: 5rem;
  display: flex;
}
.contact-form {
  background: rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 35rem;
  margin: 0rem 2rem;
}

.contact-form input,
.contact-form textarea {
  background: rgba(181, 169, 169, 0.08);
  border: 1px solid lightpink;
  border-radius: 12px;
  padding: 12px 14px;
  color: white;
  font-size: 14px;
  outline: none;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #cbd5f5;
}
.contact-info {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 35px;
  width: 25rem;
  margin: 0rem 2rem;
}

.contact-info p {
  margin-bottom: 15px;
  font-size: 15px;
}

.contact-info span {
  color: lightpink;
  font-weight: 600;
}
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact {
    padding: 40px 20px;
  }

  .contact-info {
    text-align: center;
  }
}