.navbar {
  width: 100%;
  height: 70px;
  background: #a9aaad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color:light pink;
  margin: 0px 70px;
}

.nav-links {
  display: flex;
  gap: 125px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: 0.3s;
  margin-right: 50px;
  
}

.nav-links li a:hover {
  color:black;
}

.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 100%;
    width: 100%;
    height: calc(100vh - 70px);
    background: #020617;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    
  }

  .nav-links.active {
    right: 0;
  }
}