.footer {
  background: #18181b;
  padding: 30px 20px;
  color: #cbd5f5;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.footer p {
  font-size: 14px;
}

.footer span {
  background: linear-gradient(90deg, lightpink,lightpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-links a:hover {
  color:lightpink;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}